@import "../../styles/utils";

.navbar-toggler {
  display: none;
  color: $dark-mode-text-color;
}

nav.navbar {
  justify-content: flex-start;
  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0 15px;
    padding: 0;
    width: 100%;
    li.nav-item {
      margin: 0 15px;
    }
  }
  .nav-right-items {
    text-align: right;
    flex: 1;
    i:not(:last-child) {
      margin: 0 15px;
    }
    .fa-search {
        cursor: pointer;
    }
  }
}

@include when-smaller-than('md') {
   .navbar-toggler {
       display: block;
       flex: 1;
   }
   .nav-item {
       display: none;
   }
   .navbar-brand {
       margin: 0;
   }
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
    }
    .dropbtn {
      color: lightgray;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #ddd;
    }
  }
}
