<nav class="navbar dark-mode">
  <div class="left-align-items">
    <button class="navbar-toggler">
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" title="logo" width="50" />
    </a>
    <ul role="navigation">
      <li class="nav-item">
        <div class="dropdown">
          <span class="navbar-text dropbtn">Movies</span>
          <div class="dropdown-content dropdown-menu">
            <a href="#">Popular</a>
            <a href="#">Now Playing</a>
            <a href="#">Upcoming</a>
            <a href="#">Top Rated</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <span class="navbar-text dropbtn">TV Shows</span>
          <div class="dropdown-content dropdown-menu">
            <a href="#">Popular</a>
            <a href="#">Airing Today</a>
            <a href="#">On TV</a>
            <a href="#">Top Rated</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="right-align-items">
    <div class="navbar-text d-inline-block mx-3" title="Login">
      <i class="fas fa-user"></i>
    </div>
    <div class="search d-inline-block mx-3">
      <i class="fas fa-search" title="Search"></i>
    </div>
  </div>
</nav>