<nav class="navbar dark-mode">
  <ul role="navigation">
    <ng-container *ngIf="!showSearch; else search">
      <li class="navbar-toggler" (click)="toggleClasses()">
        <i class="fas cusor-pointer" [ngClass]="collapsed ? 'fa-bars' : 'fa-times'"></i>
      </li>
      <li class="logo">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.png" title="logo" width="50" />
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'d-block': !collapsed}" *ngFor="let item of menuItems">
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{item.menuItemName}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="[subItem.path]" *ngFor="let subItem of item.subMenus">{{subItem.name}}</a>
          </div>
        </div>
      </li>
      <li class="nav-right-items">
        <i class="fas fa-search cusor-pointer" title="Search" (click)="showSearchBox()"></i>
        <i class="fas fa-user"></i>
      </li>
    </ng-container>
    <ng-template #search>
      <li class="search-box">
        <app-search-bar></app-search-bar>
      </li>
    </ng-template>
  </ul>
</nav>
