<nav class="navbar dark-mode">
  <ul role="navigation">
    <li class="navbar-toggler" (click)="toggleClasses()">
        <i class="fas cusor-pointer" [ngClass]="collapsed ? 'fa-bars' : 'fa-times'"></i>
    </li>
    <li class="logo">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.png" title="logo" width="50" />
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'d-block': !collapsed}">
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" id="movie-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</a>
        <div class="dropdown-menu" aria-labelledby="movie-menu">
          <a class="dropdown-item" href="#">Popular</a>
          <a class="dropdown-item" href="#">Now Playing</a>
          <a class="dropdown-item" href="#">Upcoming</a>
          <a class="dropdown-item" href="#">Top Rated</a>
        </div>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'d-block': !collapsed}">
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" id="tv-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TV Shows</a>
        <div class="dropdown-menu" aria-labelledby="tv-menu">
          <a class="dropdown-item" href="#">Popular</a>
          <a class="dropdown-item" href="#">Airing Today</a>
          <a class="dropdown-item" href="#">On TV</a>
          <a class="dropdown-item" href="#">Top Rated</a>
        </div>
      </div>
    </li>
    <li class="nav-right-items">
      <i class="fas fa-user"></i>
      <i class="fas fa-search cusor-pointer" title="Search"></i>
    </li>
  </ul>
</nav>