$breakpoints: (
  sm: $breakpoints-s,
  md: $breakpoints-m,
  lg: $breakpoints-l,
);

@function get-breakpoint($target) {
  $breakpoint: map-get($breakpoints, $target);
  @if $breakpoint == null {
    @warn "Unfortunately, no value could be retrieved from `#{$target}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
  @return $breakpoint;
}

@mixin when-wider-than($target) {
  @media screen and (min-width: get-breakpoint($target)) {
    @content;
  }
}

@mixin when-smaller-than($target) {
  @media screen and (max-width: get-breakpoint($target)) {
    @content;
  }
}
