.dark-mode {
    background-color: $dark-mode-bg;
    color: $dark-mode-text-color;
}

.navbar-dark {
    &.dark-mode {
        @extend .dark-mode;
    }
    .navbar-text {
        color: $dark-mode-text-color;
    }
}