<div class="bg-light rounded rounded-pill shadow-sm mb-1 search-box-wrapper">
  <div class="input-group">
    <div class="input-group-prepend">
      <button type="submit" class="btn btn-link text-primary">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <input type="search" [placeholder]="placeholder" class="form-control search ml-2 rounded-pill border-0 bg-light"/>
    <div class="input-group-append">
      <button type="submit" class="btn btn-link text-primary">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>